<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221659685202-smg21qgi1pngd1eplo04ie73s1q6p8fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221659685202-smg21qgi1pngd1eplo04ie73s1q6p8fn</string>
	<key>API_KEY</key>
	<string>AIzaSyDEj9Hmi6Jq9WMdxHf4ORrUrYsqOpW-6oY</string>
	<key>GCM_SENDER_ID</key>
	<string>221659685202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aamer-Essa.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-7a54e</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-7a54e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221659685202:ios:b7c627ea3e714a15a81a8b</string>
</dict>
</plist>